{% extends "base.html" %}
{% block content %}
<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Delete Restaurant</h1>
    </div>
  </div>
</section>

<section class="section container">
  <form action="{{ url_for('deleteRestaurant',
    restaurant_id = restaurant.id) }}" method='post'>
    <div class="field">
      <label class="label">Name:</label>
      <p class="control">
        <input class="input" type='text' size='30' name='name' value='{{ restaurant.name }}' readonly>
      </p>
      <p class="control">
        <input class="button" type='submit' value='Delete'>
        <a class="button" href="{{ url_for('showRestaurants') }}">Cancel</a>
      </p>
    </form>
  </section>
  {% endblock %}
