{% extends "base.html" %}
{% block content %}
  <h1>Delete Menu Item</h1>

  <form action="{{ url_for('deleteMenuItem',
                   restaurant_id = restaurant_id,
                   menu_item_id = menu_item.id) }}" method='post'>
    <p>Name:</p>
    <input type='text' size='30' name='name' value='{{ menu_item.name }}' readonly>
    <p>Description:</p>
    <input type='text' size='30' name='desc' value='{{ menu_item.description }}' readonly>
    <p>Price:</p>
    <input type='text' size='30' name='price' value='{{ menu_item.price }}' readonly>
    <input type='submit' value='Delete'>
    <a href="{{ url_for('showMenu', restaurant_id = restaurant_id) }}">Cancel</a>
  </form>
{% endblock %}
