{% extends "base.html" %}
{% block content %}
<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">New Restaurant</h1>
    </div>
  </div>
</section>

<section class="section container">
  <form action="{{ url_for('newRestaurant') }}" method='post'>
    <label class="label">Name:</label>
    <p class="control">
      <input class="input" type='text' size='30' name='name'>
    </p>
    <div class="control">
      <input class="button" type='submit' value='Create'>
      <a class="button is-info" href="{{ url_for('showRestaurants') }}">Cancel</a>
    </div>
  </form>
</section>
{% endblock %}
